<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../styles/blog.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width">

    <title>Blog Item</title>
</head>

<body>
    <header>

        <div class="inheader"><a href="a.com">subscribe</a></div>
        <div class="inheader">
            <H1>Blog</H1>
        </div>
        <div class="inheader" id="search"><i class="fa fa-search"></i></div>
    </header>
    <section>
        <article>
            <h1>Blog Title</h1>
            <p>abc</p>
            <h2>sub title</h2>
            <p>adjio ojoioe jo</p>
            <ul>
                <li>abc</li>
                <li>eft</li>
                <li>dddd</li>
            </ul>
            <h2>sub title</h2>
            <p>fdoj <b>ijoj</b> jojo oojjjoj jioj <i>italic</i> jjio <u>djoo</u></p>
            <ol>
                <li>aaa</li>
                <li>333</li>
                <li>jio</li>
            </ol>
            <h2>sub title</h2>
            <p>aaa</p>
            <figure>
                <img src="https://developer.mozilla.org/static/img/favicon144.png" alt="The beautiful MDN logo.">
                <figcaption>MDN Logo</figcaption>
            </figure>
        </article>
        <div class="navigation">
            <button>Previous</button>
            <button>Next</button>
        </div>

    </section>
    <aside>
        <div class="about">
            <h2>About me</h2>
            <figure>
                <img src="https://developer.mozilla.org/static/img/favicon144.png" alt="The beautiful MDN logo.">
                <figcaption>Name</figcaption>
            </figure>


            <p>Title</p>
            <p>Company</p>
            <p>This is a frontend developer who is passionate about to learn new tricks to beautify the world.</p>

        </div>
        <div class="achieves">
            <h2>Archieves</h2>
            <a href="www.abc.com">March 2014</a>
            <a href="www.abc.com">March 2014</a>
            <a href="www.abc.com">March 2014</a>
            <a href="www.abc.com">March 2014</a>
            <a href="www.abc.com">March 2014</a>
            <a href="www.abc.com">March 2014</a>
            <a href="www.abc.com">March 2014</a>
            <a href="www.abc.com">March 2014</a>
        </div>
        <div class="elsewhere">
            <h2>Elsewhere</h2>
            <a href="www.abc.com">Linkedin</a>
            <a href="www.abc.com">Facebook</a>
            <a href="www.abc.com">Github</a>
        </div>
    </aside>
    <footer>footer</footer>
</body>

</html>